html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
    }

    header {
        text-align: center;
        background-color: #33cccc;
        padding: 5px;
        font-size: 28px;
        display: block;
    }
    nav {
        float: left;
    }

    nav ul {
        float: center;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        color: #33cccc;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 27%;
        display: inline-block;
        background-color:#ff3300;
        min-height:97%;
    }
    aside li a {
        display: block;
        color: #33cccc;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
        font-size: 18px;
  }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        clear: both;
        display: block;
    }
