

    html {
      height: 100%;
    }
    body {
       width: 100%;
       height: 100%;
    }

    header {
      color: white;
      text-align:center;
        background-color:black ;
        padding: 10px;
        font-size:30x ;
        display: block;
    }
    nav {background-color: #eeeeee;
      width:800x;
      height: 125px;
      display: block;

    }
    nav ul {
        padding: 50;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
          text-align:center;

    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
        text-align:center;
    }
    a {
        color: green ;
    }
    section {
        width: 100%;
        text-align: center;
        display: inline-block;
        float: center;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:10;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 100%;
        background-color:black;
        color:white;
        clear: both;
        display: block;
    }
